node_modules
dist
.DS_Store
node-spec.json
*.blend1
node-spec.csv

# yarn recommendations from here: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions